body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #222;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node text {
    text-shadow: 1px 1px 0 #FFF;
    fill: #222;
}
